hi this is naveen...

<div class="col-md-6 col-md-offset-1">
        <h2> Customer Details</h2>
        <form name="form" (ngSubmit)="create()">
                <div class="form-group">
    <label for="customername">Customer Id :</label>
    <input type="text" class="form-control"  name="custid" [(ngModel)]="model.custid" />
        </div>
        <div class="form-group">
    <label for="customerage">Customer Name :</label>
    <input type="text" class="form-control"  name="custname" [(ngModel)]="model.custname"/>
    </div>
    <div class="form-group">
    <label for="customersal">Email Address :</label>
    <input type="text" class="form-control"  name="custemail" [(ngModel)]="model.custemail"/>
</div>
<div class="form-group">
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-primary" (click) ="reset()"> Reset</button>
    <button class="btn btn-primary" (click) ="search()"> Search</button>
</div>
<div>
        <ul>
        <li *ngFor="let user of usersDom.children">{{user.id}} {{user.name}}</li>
        </ul>
        </div>


        <ag-grid-angular 
        style="width: 700px; height: 300px;" 
        class="ag-theme-balham"
        [pagination]="true"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular>
         <!-- <ej-grid id="Grid" [dataSource]="usersDom" >
            <e-columns>
                <e-column field="id"  headerText="userId" width="75" textAlign="right"></e-column>
                <e-column field="name" headerText="userName" width="80"></e-column>
                <e-column field="email" headerText="userEmail" width="75" textAlign="left"></e-column>
                <e-column field="phone" width="75" headerText="userPhone" textAlign="right"></e-column>
                <!-- <e-column field="OrderDate" headerText="OrderDate" width="80" format="{0:MM/dd/yyyy}" textAlign="right"></e-column>
                <e-column field="ShipCity" headerText="ShipCity" width="110"></e-column> -->
             <!-- </e-columns>
        </ej-grid>   -->
    </form>
    </div>